table {
    margin: auto;
  }

  table, th , td {
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
    border: 1px solid rgb(160 160 160);
  }

  th{
    background-color: lightgray;
    color: #1a1f1d;
  }

