<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="input-group">
    <p>
      <label for="initialInvestment">Inital Investment</label>
      <input
        type="number"
        id="initialInvestment"
        required
        [(ngModel)]="initialInvestment"
      />
    </p>

    <p>
      <label for="annualInvestment">Annual Investment</label>
      <input
        type="number"
        id="annualInvestment"
        required
        [(ngModel)]="annualInvestment"
      />
    </p>
  </div>
  <section class="input-group">
    <p>
      <label for="expectedReturn">Expected Return</label>
      <input
        type="number"
        id="expectedReturn"
        required
        [(ngModel)]="expectedReturn"
      />
    </p>

    <p>
      <label for="duration">Duration</label>
      <input type="number" id="duration" required [(ngModel)]="duration" />
    </p>
  </section>
  <button type="submit">Submit</button>
</form>
